* {
  margin: 0;
}

.MainFooter {
  background-color: #242424;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;

  img {
    height: 90%;
    width: auto;
    margin: auto;
  }
}
